body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Merriweather", serif;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: aquamarine;
}

main{
  padding: 2rem 4rem;
  flex: 1;
}

a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

a:hover{
  background-color: #000;
  color: #fff;
}

h1{
  font-size: 2rem;
  margin: 0;
}

#active{
  text-decoration: solid underline;
}